.Weather {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.Weather h1 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: left;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .icon {
  position: relative;
  bottom: 20px;
}

.Weather .temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  margin-left: 5px;
}

.Weather .unit {
  position: relative;
  margin-left: 5px;
}

.Weather .description::first-letter {
  text-transform: uppercase;
}
